psycopg2==2.9.3
psycopg2-binary==2.9.3
boto3==1.21.22
botocore==1.24.22
certifi==2018.10.15
chardet==3.0.4
dj-database-url==0.5.0
Django==3.2.12
django-crispy-forms==1.14.0
django-heroku==0.3.1
django-storages==1.7.1
docutils==0.14
gunicorn==20.1.0
idna==2.7
jmespath==0.9.3
Pillow==9.0.1
python-dateutil==2.8.0
pytz==2018.5
requests==2.19.1
s3transfer==0.5.2
six==1.12.0
urllib3==1.23
whitenoise==4.1.2