{% extends "blog/base.html"%}
{% block content %}
<h1 class="mb-3">posts by {{ view.kwargs.username }} ({{page_obj.paginator.count}})</h1>
    {% for post in posts %}
<!--        <h1>{{post.title}}</h1>-->
<!--        <p>By {{post.author}} on {{post.date_posted}}</p>-->
<!--        <p>{{post.content}}</p>-->

  <article class="border-bottom mb-4">
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
                      <h1 class="fw-bolder mb-1">    <a class="article-title" href="{%url 'post-detail' post.id %}">  {{post.title}} </a></h1>
                            <!-- Post meta content-->
   <div class="text-muted fst-italic mb-2">
                           Posted on {{post.date_posted|date:"F d, Y"}} by  <a href="{% url 'user-posts' post.author.username %}"> {{post.author}}</a>
                            </div>
                            <!-- Post categories-->
<!--                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>-->
<!--                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>-->
                        </header>
                        <!-- Preview image figure-->
<!--                        <figure class="mb-4"><img class="img-fluid rounded" src="https://dummyimage.com/900x400/ced4da/6c757d.jpg" alt="..." /></figure>-->
                        <!-- Post content-->
                        <section class="mb-5">
                         {{post.content}}
                        </section>
                    </article>



    {% endfor %}

{% if is_paginated %}
    {% if page_obj.has_previous %}
    <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a class="btn btn-outline mb-4" href="?page={{num}}">{{num}}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="?page={{num}}">{{num}}</a>

        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.next_page_number}}">next</a>
    <a class="btn btn-outline-info mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
    {% endif %}
{% endif %}
{%endblock content%}